@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap');

:root {
  /* Font Family */
  --ff-heading: 'Big Shoulders Display', sans-serif;
  --ff-body: 'Outfit', sans-serif;

  /* Font Weight */
  --fw-300: 300;
  --fw-800: 800;
  --fw-900: 900;

  /* Font Size */
  --fs-heading-1: 3.75rem;
  --fs-heading-2: 3.125rem;
  --fs-subtitle-1: 3.125rem;
  --fs-body-m: 1.125rem;
  --fs-body-s: 1rem;

  /* Line Height */
  --lh-heading-1: 3.4375rem;
  --lh-heading-2: 2.8125rem;
  --lh-subtitle-1: 2.8125rem;
  --lh-body-m: 1.75rem;
  --lh-body-s: 1.625rem;

  /* Colors */
  --clr-gold: hsl(24, 56%, 63%);
  --clr-almostblack: hsl(0, 0%, 8%);
  --clr-darkgrey: hsl(0, 0%, 27%);
  --clr-white: hsl(0, 0%, 100%);

  /* Utility classes */

  .clr-dark {
   color: var(--clr-almostblack);
  }

  .clr-white {
    color: var(--clr-white);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  background-color: white;
  min-width: 100%;
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-content {
  padding-inline: 1rem;
}

.hero-title {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-1);
  font-weight: var(--fw-900);
  line-height: var(--lh-heading-1);
  text-transform: uppercase;
  margin-block-start: 2rem;
  color: white;
  mix-blend-mode: difference;
}

.hero-text {
  font-family: var(--ff-body);
  font-size: var(--fs-body-m);
  font-weight: var(--fw-300);
  line-height: var(--lh-body-m);
  margin-block-start: 2rem;
  color: var(--clr-darkgrey);
}

.cta-btn {
  text-decoration: none;
  display: inline-flex;
  margin-block-start: 2rem;
}

.cta-btn .btn-text {
  background-color: var(--clr-almostblack);
  color: var(--clr-white);
  font-family: var(--ff-heading);
  font-size: 1.25rem;
  letter-spacing: 0.2275rem;
  font-weight: var(--fw-800);
  text-transform: uppercase;
  padding-block: 1.5rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2.1875rem;
  transition: background 200ms;
}

.cta-btn .arrow-right {
  background-color: var(--clr-gold);
  padding: 1.5rem;
  transition: background 200ms;
}


.cta-btn:hover .btn-text,
.cta-btn:focus-visible .btn-text {
  background-color: var(--clr-gold);
}

.cta-btn:hover .arrow-right,
.cta-btn:focus-visible .arrow-right {
  background-color: var(--clr-almostblack);
}

.content-section {
  padding-inline: 1rem;
  margin-block-start: 7.5rem;
}

.content-section img {
  width: 100%;
  height: auto;
}

.subtitle {
  font-family: var(--ff-heading);
  font-size: var(--fs-subtitle-1);
  font-weight: var(--fw-900);
  line-height: var(--lh-subtitle-1);
  text-transform: uppercase;
  margin-block-start: 1.5625rem;
}

.content-section .text {
  font-family: var(--ff-body);
  font-size: var(--fs-body-m);
  font-weight: var(--fw-300);
  line-height: var(--lh-body-m);
  margin-block-start: 1.3125rem;
  color: var(--clr-darkgrey);
}

.grid-2 {
  margin-block-start: 2rem;
  display: grid;
  gap: 1rem;
}

.grid-2 > .last-child {
  background-color: var(--clr-almostblack);
  padding-inline: 1.5rem;
  padding-block-start: 3rem;
  padding-block-end: 2.9375rem;
}

.grid-2 > .last-child .subtitle {
  margin-block-start: 0;
}

.grid-2 > .last-child .text {
  color: var(--clr-white);
  margin-block-start: 1.5rem;
}

.footer {
  background-color: var(--clr-almostblack);
  padding-block: 3rem;
  padding-inline: 2rem;
  margin-block-start: 7.5rem;
}

.footer-text {
  color: var(--clr-white);
  font-family: var(--ff-body);
  font-size: var(--fs-body-s);
  font-weight: var(--fw-300);
  line-height: var(--lh-body-s);
  margin-block-start: 2.375rem;
}

.social {
  display: flex;
  align-items: start;
  gap: 1.25rem;
  margin-block-start: 2.375rem;
}

.social-link:hover .icon path,
.social-link:focus-visible .icon path {
  fill: var(--clr-gold);
}

.social .icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 767px) {
  :root {
    /* Font Size */
    --fs-heading-1: 4.375rem;
    --fs-heading-2: 3.4375rem;
    --fs-subtitle-1: 3.125rem;
    --fs-body-m: 1.125rem;
    --fs-body-s: 1rem;

    /* Line Height */
    --lh-heading-1: 4.0625rem;
    --lh-heading-2: 2.8125rem;
    --lh-subtitle-1: 2.8125rem;
    --lh-body-m: 1.75rem;
    --lh-body-s: 1.625rem;
  }

  .hero-picture {
    position: relative;
    top: 0;
    left: 0;
  }

  .hero-img {
    width: initial;
    max-width: 100%;
  }
  
  .hero-section {
    padding-inline: 2.5rem;
    margin-block-start: 9.0625rem;
    z-index: 2;
  }

  .hero-content {
    position: absolute;
    right: 0.2%;
    top: 23.6%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    '. herotitle'
    '. textandbtn';
    padding-inline: 0;
  }

  .hero-title {
    margin-block-start: 0;
    grid-area: herotitle;
  }

  .hero-content .wrapper {
    grid-area: textandbtn;
  }


  .hero-text {
    margin-block-start: 3rem;
    padding-inline-end: 2.5rem;
  }

  .cta-btn {
    margin-block-start: 3rem;
  }

  .content-section {
    padding-inline-start: 2.4375rem;
    padding-inline-end: 2.5rem;
    margin-block-start: 7.5rem;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-areas: 'grid1text picture1';
  }

  .picture-grid-1 {
    grid-area: picture1;
  }

  .grid-1-text {
    grid-area: grid1text;
    padding-inline-end: 3.5rem;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: minmax(398px, max-content) 1fr;
    gap: 0.6875rem;
    margin-block-start: 0.6875rem;
  }

  .grid-2 picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .grid-2 .item-1 {
    grid-column: 1;
    grid-row: span 2;
  }

  .grid-2 .last-child {
    grid-column: 2;
    grid-row: 2;
    padding-inline: 1.8125rem;
    padding-block: 5.3125rem;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding-inline: 2.5rem;
    padding-block: 3.5rem;
  }

  .footer > * {
    margin: 0;
  }

  .footer .footer-text {
    padding-inline-start: 4.059375rem;
    padding-inline-end: 9.625rem;
  }

}

@media screen and (min-width: 1439px) {
  :root {
    /* Font Size */
    --fs-heading-1: 6rem;
    --fs-heading-2: 4.375rem;
    --fs-subtitle-1: 3.75rem;
    --fs-body-m: 1.375rem;
    --fs-body-s: 1.125rem;

    /* Line Height */
    --lh-heading-1: 5.5rem;
    --lh-heading-2: 4.375rem;
    --lh-subtitle-1: 3.75rem;
    --lh-body-m: 2rem;
    --lh-body-s: 1.75rem;
  }

  .hero-section {
    padding-inline: 10.3125rem;
  }

  .hero-picture {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .black-bg {
    position: absolute;
    width: 50%;
    height: 800px;
    background-color: var(--clr-almostblack);
    top: 0;
    left: 0;
    z-index: -2;
  }

  .hero-content {
    grid-template-areas: 'herotitle textandbtn';
    padding-inline: 10.3125rem;
    top: 0;
    margin-block-start: 11.875rem;
  }

  .hero-content .wrapper {
    padding-inline-start: 13.25rem;
  }
  .cta-btn {
    margin-block-start: 4rem;
  }

  .content-section {
    padding-inline: 10.3125rem;
    margin-block-start: 61.25rem;
  }

  .content-section .subtitle {
    margin-block-start: 3.75rem;
  }

  .grid-1-text {
    padding-inline-end: 8.5rem;
  }

  .grid-2 {
    gap: 1.875rem;
    margin-block-start: 1.875rem;
  }

  .grid-2 .last-child {
    padding-block-start: 4.0625rem;
    padding-block-end: 4rem;
    padding-inline-start: 3rem;
    padding-inline-end: 2.9375rem;
  }

  .footer {
    padding-inline: 10.3125rem;
    margin-block-start: 11.25rem;
  }

  .footer .logo {
    width: 159.57px;
  }

  .footer .footer-text {
    padding-inline-start: 8.776875rem;
    padding-inline-end: 17.5rem;
  }
}